<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submit Activity</title>
 
    <!--<link href="../static/activity.css" rel="stylesheet">-->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/submit.js"></script>
  </head>
 
  <body>
 
    <div class="container">
 
      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-submit-activity">
            <label for="inputActivityName" class="sr-only">Activity Name</label>
            <input type="activityName" name="activityName" id="activityName" class="form-control" placeholder="Activity Name" required autofocus>
            <label for="inputDescription" class="sr-only">Description</label>
            <input type="description" name="inputDescription" id="inputDescription" class="form-control" placeholder="Description" required autofocus>
         
            <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
        </form>
      </div>
 
    </div>
  </body>
</html>